<div class="main-content main-content-list container">
    <div class="aplicativo aplicativo-list-item">

        <div >
            <img src="https://placehold.co/1280x720/png/269fe6" alt="Temporario">
        </div>

        <div class="aplicativo-title-container">
            <h2>Olá, meu nome é Ariel <i class="fas fa-hands-clapping"></i>
            </h2>
        </div>

        <div class="aplicativo-author">
            <span class="aplicativo-author-item">
            <i class="fas fa-circle-user"></i> 
            Ariel Araújo dos Santos
            </span>

            <span class="aplicativo-author-item">
                <i class="fa-brands fa-github"></i>
                <a href="https://github.com/ArielAraujo18" target="_blank" rel="noopener noreferrer" >GitHub</a> 
            </span>

            <span class="aplicativo-author-item">
                <i class="fa-brands fa-linkedin"></i>
                <a href="https://www.linkedin.com/in/ariel-ara%C3%BAjo-935217228/" target="_blank" rel="noopener noreferrer" >Linkedin</a> 
            </span>

            <span class="aplicativo-author-item">
                <i class="fa-brands fa-instagram"></i>
                <a href="https://www.instagram.com/arielsantos074/" target="_blank" rel="noopener noreferrer" >Instagram</a> 
            </span>

            <span class="aplicativo-author-item span-item">
                <i class="fa-solid fa-folder-open"></i>
                <a href="futuro site" target="_blank" rel="noopener noreferrer">
                    Meus projetos
                </a>
            </span>
            
        </div>
    </div>
</div>